<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>모임 만들기</title>

    <script src="https://cdn.tiny.cloud/1/v66zwuo2z8kbdl4t3rglfdpi9lmstor02zcg46dlh7k7q83b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="/css/createGroup.css">

    <script>
        // tinymce.init({
        //     selector: '#description',
        //     plugins: 'image link',
        //     toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | image link',
        //     images_upload_url: '/upload',
        //     automatic_uploads: true,
        //     file_picker_types: 'image',
        //     images_upload_handler: function (blobInfo, success, failure) {
        //         const formData = new FormData();
        //         formData.append('file', blobInfo.blob(), blobInfo.filename());
        //
        //         fetch('/upload', {
        //             method: 'POST',
        //             body: formData
        //         }).then(response => response.json())
        //             .then(data => {
        //                 console.log("Uploaded image URL:", data.location);
        //                 success(data.location);
        //             })
        //             .catch(() => failure('Image upload failed'));
        //     }
        // });
        tinymce.init({
            selector: '#description',
            plugins: 'image link',
            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | image link',
            images_upload_url: '/img',
            automatic_uploads: true,
            file_picker_types: 'image',
            images_upload_handler: function (blobInfo, success, failure) {
                const formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());

                fetch('/img', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                    .then(data => {
                        console.log("Uploaded image URL:", data.location);
                        success(data.location);
                    })
                    .catch(() => failure('Image upload failed'));
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            const selectElement = document.getElementById("capacity");
            const min = 5;  // 시작 숫자
            const max = 30;  // 끝 숫자

            for (let i = min; i <= max; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.textContent = i;
                selectElement.appendChild(option);
            }
        });


        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 시와 구 정보 추출
                    var city = data.sido || ''; // 시/도를 나타내는 필드
                    var district = data.sigungu || ''; // 구/군 정보를 나타내는 필드
                    var fullAddress = city;

                    // 시와 구가 모두 있는 경우 "시 구" 형태로 결합
                    if (city && district) {
                        fullAddress += ' ' + district;
                    } else if (city && !district) {
                        fullAddress = city; // 시만 있는 경우 시만 표시
                    } else if (!city && district) {
                        fullAddress = district; // 구만 있는 경우 구만 표시
                    }
                    // 출력할 도로명 주소와 시, 구 정보를 설정
                    document.getElementById("location").value = fullAddress; // 수정된 구/군, 시 정보를 표시
                }
            }).open();
        }
    </script>

</head>

<div layout:fragment="body" id="createGroupMain">

    <div id="textBox">
        <p id="groupListText"><a href="">모임 목록</a></p>
        <p id="groupCreateText"><span class="highlight">모임 만들기</span></p>
    </div>

    <form id="createGroupForm" th:action="@{/group/createGroup}" th:object="${groupDto}" method="post" enctype="multipart/form-data">


        <div class="inputBox" id="imgBox">
            <label th:for="profileImg">대표 이미지</label>
            <input type="file" th:field="*{profileImg}" accept="image/*"/>
            <p th:if="${#fields.hasErrors('profileImg')}" th:errors="*{profileImg}"></p>
        </div>

        <div class="inputBox">
            <label th:for="name">모임 이름</label>
            <input type="text" th:field="*{name}" required/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>

        <div class="inputBox" id="intro">
            <label th:for="introduce">소개글</label>
            <input type="text" th:field="*{introduce}" required/>
            <p th:if="${#fields.hasErrors('introduce')}" th:errors="*{introduce}"></p>
        </div>

        <div class="inputBox">
            <label th:for="description">내용</label>
            <textarea id="description" th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </div>

        <div class="inputBox">
            <label>카테고리</label>
            <div id="categoryInput">
                <div th:each="category : ${categories}">
                    <input type="radio" th:field="*{category}" th:value="${category.groupCategoryId}">
                    <span th:text="${category.category}"></span>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
        </div>

        <div class="inputBox">
            <label th:for="location">활동 지역</label>
            <div id="locationWrap">
                <input type="text" th:field="*{location}" placeholder="시,군 또는 구" readonly/>
                <input id="locationBt" type="button" onclick="sample4_execDaumPostcode()" value="주소 검색">
            </div>
            <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
        </div>

        <div class="inputBox">
            <label th:for="gender">성별</label>
            <div class="gender-options">
                <label>
                    <input type="radio" id="male" name="genderPreference" value="MALE" th:field="*{genderPreference}">
                    남성
                </label>
                <label>
                    <input type="radio" id="female" name="genderPreference" value="FEMALE" th:field="*{genderPreference}">
                    여성
                </label>
                <label>
                    <input type="radio" id="other" name="genderPreference" value="OTHER" th:field="*{genderPreference}">
                    선택안함
                </label>
            </div>
        </div>

        <div class="inputBox">
            <label th:for="capacity">정원</label>
            <select id="capacity" name="capacity" th:field="*{capacity}"></select>
        </div>

        <div class="inputBox">
            <label th:for="registrationType">가입 방식</label>
            <div id="registerTypeWrap">
                <label>
                    <input type="radio" id="free" name="registrationType" value="FREE" th:field="*{registrationType}">
                    자유
                </label>
                <label>
                    <input type="radio" id="approval" name="registrationType" value="APPROVAL" th:field="*{registrationType}">
                    승인
                </label>
            </div>
        </div>

        <div id="btWrap">
            <button id="createGroupBt" type="submit">생성</button>
        </div>
    </form>
    <a href="/content">ㅇㅇㅇㅇㅇㅇㅇ</a>


</div>

</html>