<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title"></title>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>

    <div layout:fragment="body" id="main">
        <div id="banner">
            <div id="detail">
                <a href="">자세히 보기 ▶</a>
            </div>
        </div>

        <div id="categoryWrap">
            <div id="game" class="categoryBox">
                <a href="">
                    <div id="gameImg" class="categoryImg"></div>게임
                </a>
            </div>
            <div id="sports" class="categoryBox">
                <a href="">
                    <div id="sportsImg" class="categoryImg"></div>스포츠
                </a>
            </div>
            <div id="travel" class="categoryBox">
                <a href="">
                    <div id="travelImg" class="categoryImg"></div>여행
                </a>
            </div>
            <div id="social" class="categoryBox">
                <a href="">
                    <div id="socialImg" class="categoryImg"></div>친목
                </a>
            </div>
            <div id="self" class="categoryBox">
                <a href="">
                    <div id="selfImg" class="categoryImg"></div>자기계발
                </a>
            </div>
            <div id="reading" class="categoryBox">
                <a href="">
                    <div id="readingImg" class="categoryImg"></div>독서
                </a>
            </div>
            <div id="study" class="categoryBox">
                <a href="">
                    <div id="studyImg" class="categoryImg"></div>스터디
                </a>
            </div>
            <div id="cooking" class="categoryBox">
                <a href="">
                    <div id="cookingImg" class="categoryImg"></div>요리
                </a>
            </div>
            <div id="beauty" class="categoryBox">
                <a href="">
                    <div id="beautyImg" class="categoryImg"></div>미용
                </a>
            </div>
            <div id="pet" class="categoryBox">
                <a href="">
                    <div id="petImg" class="categoryImg"></div>반려동물
                </a>
            </div>
        </div>

        <div class="groupWrap">
            <div class="name">맞춤 모임</div>
            <div class="boxWrap">
                <div class="box">
                    <div class="img"></div>
                    <div class="detail">
                        <p class="title">모임 이름</p>
                        <p class="description">여기는 모임 설명</p>
                        <div class="blockWrap">
                            <p class="category">카테고리</p>
                            <p class="capacity">18/20</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="groupWrap">
            <div class="name">인기 모임</div>
            <div class="boxWrap">
                <div class="box">
                    <div class="img"></div>
                    <div class="detail">
                        <p class="title">모임 이름</p>
                        <p class="description">여기는 모임 설명</p>
                        <div class="blockWrap">
                            <p class="category">카테고리</p>
                            <p class="capacity">18/20</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="groupWrap">
            <div class="name">신규 모임</div>
            <div class="boxWrap">
                <div class="box">
                    <div class="img"></div>
                    <div class="detail">
                        <p class="title">모임 이름</p>
                        <p class="description">여기는 모임 설명</p>
                        <div class="blockWrap">
                            <p class="category">카테고리</p>
                            <p class="capacity">18/20</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>